html, body{
    padding: 0;
    margin: 0;
    
}

.test{
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
}

.navbar-nav > li{
    padding-left: 30px;
}

nav{
    height: auto;
    background-color: #AA3939;
}

#maincontent{
    height: 100vh;
    background: url(../sitepics/front.jpg) center;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;

}

.indexh1{
    font-size: 400%;
    font-weight: bold;
    text-shadow: 4px 4px black;
    color:  white;
    opacity: 1;
}

#bottomcontact{
    height: 12%;
    background-color: #AA3939;
}

aside{
    color: white;
    display: grid;
    grid-template-columns: 250px auto;
}

#copy{
    line-height: 1;
    color: white;
    padding-bottom: 5px;
}

aside div a {
    color: white;
}

aside div a:hover{
    color: white;
}

.static-content {
    min-height: 220px;
    width: 70%;
}

.static-content p {
    font-size: 1.1em;
    line-height: 1.5em;
}

#login-div {
    width: 30%;
    margin: 0 auto;
}

#login-form {
    padding: 30px 0px 30px 0px;
}

.login-btn {
    background-color: #801515;
    color: #eee;
}
